:root {
  --border: 1px solid red;
  --border_bottom: 2px solid black;
  --font_fam: "Roboto", sans-serif;
  --font_fam_open: "Open Sans", sans-serif;
  --font_fam_qua: "Quattrocento", serif;
  --font_fam_oswald: "Oswald", sans-serif;
  --font_fam_rale: "Raleway", sans-serif;
  --black_border: 1.2px solid black;
  --ti_color: #0ec253;
  --butt-color_:#149eee;
}
htmL{
  font-size: 100%;
}
.div-1-l {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  margin-top: 10rem;
  margin-bottom: 8rem;
}
.div-form-l-1 {
  display: flex;
  width: 20rem;
  align-items: center;
  flex-direction: column;
  height: 25rem;
  padding: 10px;
  box-shadow: 0px 0px 3rem 0.05rem rgba(126, 125, 125, 0.25);
}
.in-div-1 {
  width: 90%;
  display: flex;
  justify-content: center;
  border: none;
  border-bottom: var(--border);
  margin-bottom: 2rem;
}
.in-div-2 {
  width: 90%;
  display: flex;
  justify-content: center;
  border-bottom: var(--border);
  margin-bottom: 2rem;
}
.in-div-3 {
  width: 90%;
  display: flex;
  justify-content: center;
  border: none;
  border-bottom: var(--border);
  margin-bottom: 2rem;
}
.in-div-4 {
  width: 90%;
  display: flex;
  justify-content: center;
  border-bottom: var(--border);
  margin-bottom: 1rem;
}
.in-1 {
  width: 100%;
  line-height: 1rem;
  outline: none;
  padding: 0 0.4rem;
  border: none;
  font-family: var(--font_fam_open);
  letter-spacing: 0.05rem;
}
.in-3 {
  width: 100%;
  line-height: 1rem;
  outline: none;
  padding: 0 0.4rem;
  border: none;
  font-family: var(--font_fam_open);
  letter-spacing: 0.05rem;
}
.in-2 {
  border: none;
  width: 100%;
  outline: none;
  line-height: 1rem;
  padding: 0 0.4rem;
  font-family: var(--font_fam_open);
  letter-spacing: 0.05rem;
}
.in-4 {
  border: none;
  width: 100%;
  outline: none;
  line-height: 1rem;
  padding: 0 0.4rem;
  font-family: var(--font_fam_open);
  letter-spacing: 0.05rem;
}
.butt-div-1 {
  width: 80%;
  margin-top: 0.3rem;
  display: flex;
  justify-content: center;
}
.butt-1 {
  width: 100%;
  font-family: var(--font_fam_rale);
  letter-spacing: 0.05rem;
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
.hide-l-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-l-1 {
  font-size: 1.5rem;
  font-family: var(--font_fam_rale);
}
.g0-div{
  margin-top: 0.5rem;
  background: var(--butt-color_);
  width: calc(90% - 3rem);
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
}
.google-signup {
  width: 100%;
  letter-spacing: 0.1rem;
  background: var(--butt-color_);
  border: none;
  outline: none;
  color: #ffff;
  font-size: 0.8rem;

  font-family: var(--font_fam_rale);
}
.last-op-2 {
  display: flex;
  margin-top: 0.1rem;
  font-family: var(--font_fam_open);
  font-size: 0.78rem;
}
.co-l-1 {
  outline: none;
  border: none;
  border-bottom: var(--black_border);
  line-height: 1rem;
  width: 80%;
  padding: 0 0.3rem;
  font-family: var(--font_fam_open);
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
}
.hh-11 {
  font-size: 1.1rem;
  font-family: var(--font_fam_rale);
}
.co-div-l-1 {
  display: flex;
  width: 30%;
  justify-content: center;
}
.bt-11 {
  outline: none;
  border: none;
  margin: 20px 10px;
  padding: 5px 10px;
  background-color: var(--btn);
  color: white;
  font-family: var(--font_fam_rale);
  font-size: 0.9rem;
  letter-spacing: 0.08rem;
  cursor: pointer;
}
.bt-22 {
  outline: none;
  border: none;
  margin: 20px 10px;
  padding: 5px 10px;
  background-color: var(--btn);
  color: white;
  font-family: var(--font_fam_rale);
  font-size: 0.9rem;
  cursor: pointer;
  letter-spacing: 0.08rem;
}
.co-div-l-2 {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}
.re-l-1-1 {
  cursor: pointer;
  outline: none;
  align-self: center;
  border: 1px solid white;
  height: 1rem;
  background-color: white;
  font-size: 0.85rem;
  font-family: var(--font_fam_open);
  display: flex;
  align-items: center;
  text-decoration: underline;
}
.re-l-1-1:hover{
    color: var(--ti_color);
}
.rc-l-11 {
  font-family: var(--font_fam_open);
  font-size: 0.8rem;
  align-self: center;
}

@media(min-width:481px) and (max-width:768px) and (orientation:landscape)
{
.div-1-l{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
}

@media (min-width:321px) and (max-width:480px)
{
html{
  font-size: 88%;
}

}
@media (max-width:320px)
{
  html{
    font-size: 75%;
  }
  .div-form-l-1{
    width: 90%;
  }
}