:root{
    --border:1px solid red;
    --border_bottom:1px solid #a5a1a1;
    --font_fam:'Roboto', sans-serif;
    --font_fam_open:'Open Sans', sans-serif;
    --font_fam_qua: 'Quattrocento', serif;
    --font_fam_oswald: 'Oswald', sans-serif;
    --font_fam_rale:'Raleway', sans-serif;
    --butt-color_:#149eee;
    --error_color:#ffc1d0;
    --signinbutton:#62db86;
}

.div-1-l{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20rem;
    margin-top: 10rem;
    margin-bottom: 8rem;
} 
.err-alerter{
    display: flex;
    width: 19.2rem;
    justify-content: space-around;
    margin-bottom: 0.5rem;
    background: var(--error_color);
}
.wr-er{
    font-size: 0.75rem;
    align-self: center;
    font-family: var(--font_fam_open);
    color: #333232;
}
.cr-er{
    cursor: pointer;
    align-self: center;
    text-align: center;
    display: flex;
    background: var(--error_color);
    border: none;
    outline: none;
    color:#333232;
}
.div-form-l-1{
    display: flex;
    width:18rem;
    align-items: center;
    flex-direction: column;
    height: 25rem;
    padding: 10px;
   
}
.div-form-shd-l-1{
    box-shadow: 0px 10px 3rem 0.05rem rgba(126, 125, 125, 0.25);
     /* box-shadow: 0px 20px 3rem 0.05rem rgb(226, 12, 12); */
}
.sgn-div-1{
width: 90%;
display: flex;
justify-content: center;
border: none;
border-bottom:var(--border_bottom) ;
}

.sgn-div-2{
    width: 90%;
    display: flex;
    justify-content: center;
    border-bottom:var(--border_bottom) ;
    margin-top: 2rem;
    }
   
.in-1{

    width: 100%;
    line-height: 1rem;
    outline: none;
    padding:0 0.4rem;
    border: none;
    font-family: var(--font_fam_open);
    letter-spacing: 0.05rem;
}
.in-2{
    border: none;
    width: 100%;
    outline: none;
    line-height: 1rem;
    padding:0 0.4rem;
    font-family: var(--font_fam_open);
    letter-spacing: 0.05rem;
}

.butt-div-2{
    width: 80%;
    margin-top: 2rem;
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: center;
   
}
.butt-1{
width: 100%;
font-family:var(--font_fam_rale);
letter-spacing: 0.05rem;
font-size: 0.9rem;
letter-spacing: 0.1rem;
background:var(--signinbutton);
color:#ffff;
outline: none;
border: none;
padding: 0.5rem;
cursor: pointer;
}
.hide-l-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-l-1{
    font-size:1.5rem;
    font-family:var(--font_fam_rale);
}
.last-op-1{
    display: flex;
    margin-top: 2rem;
    font-family: var(--font_fam_open);
    font-size:0.78rem;
    opacity: 0.7;
}
#link-1{
    align-self: center;
    margin-left: 0.1rem;
}
.g1-div{
    margin-top: 0.5rem;
    background: var(--butt-color_);
    width: calc(90% - 3rem);
    display: flex;
    padding: 0.5rem;
    cursor: pointer;
    border-radius:0.4rem ;
  }
  .google-signin {
    width: 100%;
    cursor: pointer;
    letter-spacing: 0.1rem;
    background: var(--butt-color_);
    border: none;
    outline: none;
    color: #ffff;
    font-size: 0.8rem;
    font-family: var(--font_fam_rale);
  }
  @media (max-width:320px)
  {
    .err-alerter{
        width:calc(100% - 0.8rem);
    }
  }